body{
    margin: auto;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#firstli{
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}
header span{
    padding:  10px;
    font-weight: 900;
}
#thirdli{
    padding-left: 950px;
    padding-top: 15px;
}
#secondli{
   margin-left: 130px;
   padding-top: 20px;  
}
#backimg{
    background-image: url(images/University-students.jpg);
    height: 500px;
    margin-top: 0%;
}
#insidebar{
    background-color: rgb(0, 102, 255);
    width: 450px;
    height: 300px;
    margin-left: 150px;
    position: absolute;
    top: 250px;
    border-radius: 20px;
    color: white;
    
}
#insider{
    text-align: left;
    padding: 40px;
    font-size: small;
    position: absolute;
    bottom: 3px;   
}
.inner1{
    background-color: rgba(0, 17, 255, 0.829);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    
   
}
.inner2{
    background-color: rgba(0, 17, 255, 0.829);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom:-7px;
}
#fixed{
    background-color: rgb(1, 51, 185);
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
   
   
}
#fixed p{
padding: 10px;
text-align: center;
}
#fixed{
    /*Just trying out something*/
    background-color: blue;
}